{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Bus Details				
                </h1>	
                <p class="text-white link-nav"><a href="available_buses.html">Available Buses </a>  <span class="lnr lnr-arrow-right"></span>  <a href="bus-details.html"> Bus Details</a></p>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- Start conductor details Area -->
<section class="insurence-one-area section-gap">
    <div class="container ">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 insurence-left">
                <img class="img-fluid img-one" src="img/insurence/i1.jpg" alt="">
            </div>
            <div class="col-lg-6 insurence-right">
                <h6 class="text-uppercase">Details</h6>
                <h1>{{ bus.bus_number }}</h1>
                <p>
                    Select your preferred seat and confirm booking!	
                </p>
                <div class="list-wrap">
                    <ul>
                        <li><b>Conductor Name: </b>{{ bus.conductor_name }}</li>
                        <li><b>Conductor Number: </b>{{ bus.conductor_number }}</li>
                    </ul>
                </div>
                <!-- seat selection-->
                <h1>Available Seats</h1>
                <div class="container">
                    <div class="row align-items-center justify-content-right">
                        <form method="post" action="{% url 'create_booking' %}">
                            {% csrf_token %}
                            <input type="hidden" name="bus_id" value="{{ bus.bus_id }}">
                            <input type="hidden" name="source" value="{{ source.name }}">
                            <input type="hidden" name="destination" value="{{ destination.name }}">
                            <div class="form-group">
                                {% for seat in available_seats %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="seat_no" id="seat_{{ seat.id }}" value="{{ seat.seat_number }}" required>
                                        <label class="form-check-label" for="seat_{{ seat.id }}">Seat {{ seat.seat_number }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="submit" class="genric-btn primary circle">Confirm Booking</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End conductor details Area -->
{% endblock %}